html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 100 14px 'Roboto';
}

#root {
  margin: 0;  
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  height: 100vh;
}

.container {    
  width: 320px;
  height: 520px;
  background-color: #eee;    
}

.calculator {
  box-shadow: 0px 0px 20px 0px #aaa;
  width: 100%;
  height: 100%;
  background: white;  
  display: flex;
  flex-direction: column;
}

.display-container{
  color: white;
  background: #1c191c;
  line-height: 120px;
  font-size: 4em;  
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.keypad{
  display: flex;
  flex-wrap: wrap;
}

.input-key{
  width: 80px;
  height: 80px;
  border-top: 1px solid #777;
  border-right: 1px solid #666;  
  border-bottom: 0;
  border-left: 0;
  text-align: center;
  line-height: 80px;   
}

.double-key{
  width: 160px;
}

.input-key:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.light-gray{
  background-color: #e0e0e7; 
}
.dark-gray{
  background: linear-gradient(to bottom, rgba(202,202,204,1) 0%, rgba(196,194,204,1) 100%);
}

.orange {
  background:  linear-gradient(to bottom, rgba(252,156,23,1) 0%, rgba(247,126,27,1) 100%);
}

.orange:hover {
  background:  linear-gradient(to bottom, rgb(214, 130, 11) 0%, rgb(209, 107, 24) 100%);
}
